@use "../../../partials/variables.scss" as *;

.made {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $white;
  width: 27rem;
  height: 19rem;
  border-radius: 2rem;

  color: $light-black;
  //   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  font-family: "Roboto";
  margin-top: 3rem;

  &__icon {
    font-size: 2.5rem;
    color: $polished-pine;

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 0.2rem solid $polished-pine;
      width: min-content;
      height: min-content;
      border-radius: 50%;
      padding: 1rem 1rem 0.7rem 0.7rem;
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  &__number {
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    font-weight: 600;
    font-family: "Roboto";
  }

  &__title {
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
  }

  &__paragraph {
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: $darker-platinum;
    margin-top: -0.5rem;
  }
}
