@use "../../partials/variables.scss" as *;
@use "../../partials/mixins.scss" as *;

.home {
  &__header {
    background-image: url("../../assets/images/dash-cover.jpg");
    background-position-y: 40%;
    @include header;
  }

  &__main {
    margin: -5rem;
  }

  &__recommend {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-container {
      padding-bottom: 14rem;
    }
  }
}
