@use "../../partials/variables.scss" as *;
@use "../../partials/mixins.scss" as *;

.tours {
  min-height: 100vh;

  &__header {
    background-image: url("../../assets/images/tours.jpg");
    background-position-y: 60%;
    @include header;
  }

  &__list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -5rem;
    padding-bottom: 4rem;
  }
}
