@use "../../partials/variables.scss" as *;

.dropdown-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  list-style: none;
  position: absolute;
  margin-left: 0rem;
  margin-top: -2rem;
  height: 16rem;
  background-color: $white;
  width: 14rem;
  z-index: 10;
  padding-bottom: 1rem;
  border-radius: 1rem;

  &__li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 4rem;
    padding-left: 2.7rem;
  }

  &__link {
    color: $darkest-platinum;
    font-size: 1.5rem;
    font-family: "Roboto";
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: $darker-platinum;
    }
  }
}
