@use "../../partials/variables.scss" as *;

.nav {
  height: 100vh;
  padding: 1.3rem;

  &__nav {
    height: 100%;
  }

  &__bars-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bedazzle-blue;
    border-radius: 1.5rem;
    width: 5rem;
    height: 5rem;
    // margin: 0 0 1.3rem 1.3rem;
    padding-top: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    transition: 0.3s;
    left: 0;
    position: relative;
  }

  &__bars-container.hidden {
    position: absolute;
    left: -100rem;
    transition: 0.3s;
  }

  &__bars {
    color: $white;
    font-size: 2.5rem;
  }

  &__nav {
  }

  &__menu-items {
    position: relative;
    left: 0;
    background-color: $bedazzle-blue;
    list-style: none;
    border-radius: 1.5rem;
    padding: 1.2rem;
    height: 100%;
    width: 27rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.4s;
    overflow: hidden;

    &.nav__hidden {
      position: absolute;
      left: -100rem;
      transition: 0.4s;
    }
  }

  &__x-icon,
  &__item-icon {
    color: $white;
    font-size: 2.5rem;
  }

  &--toggle {
    text-align: right;
    margin: 1rem 1rem 1rem 0;
  }

  &__item-icon--smaller {
    font-size: 2.1rem;
  }

  &__item-container {
    display: flex;
    align-items: center;
    height: 4.2rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.2rem;
    transition-duration: 0.1s;
    cursor: pointer;
  }

  &__item-container:hover {
    background-color: #4b6d9b;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item-title {
    margin-left: 1.4rem;
    color: $white;
    font-weight: 600;
  }
}
