$black: #001219;
// $light-black: #2b2b2b;
$light-black: #353839;
$blue-sapphire: #005f73;
$viridian-green: #0a9396;
$middle-blue: #94d2bd;
$champagne: #e9d8a6;
$gamboge: #ee9b00;
$orange: #ca6702;
$mahogany: #bb3e03;
$rufous: #ae2012;
$ruby-red: #9b2226;

$sienna: #dd6e42;
$burnt-sienna: #ee6c4d;
$gun-metal: #293241;
$bedazzle-blue: #3d5a80;
$cadet: #4f6d7a;
$pale-cerulean: #98c1d9;
$light-cyan: #e0fbfc;
$dutch-white: #e8dab2;
$darkest-platinum: #9e9e9e;
$darker-platinum: #c7c7c7;
$platinum: #eaeaea;
$light-platinum: #f5f4f4;
$login-bg: #f9f9f9;
$white: #fff;

$orange-crayola: #ff6b35;
$copper: #d5896f;
$peach-crayola: #f7c59f;
$burlywood: #dab785;
$beige: #efefd0;
$oxford-blue: #031d44;
$indigo: #04395e;
$usafa-blue: #004e89;
$blue: #1a659e;
$polished-pine: #70a288;

$borders: hsla(0, 0%, 63%, 0.5);
